.App {
  text-align: center;
}

.uploadForm {
  padding: 20px;
  width: 400px;
  margin: 30px;
  /*background-color: dodgerblue;*/

}

.uploadForm input {
  height: 40px;
  background-color: #b5f1de;
  color: #2d2828;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.uploadForm button {
  background-color: #8bc0f5;
  cursor: pointer;
}

.largeButton {
  height: 50px;
  width: 100%;
  background-color: #2b6d58;
  margin-top: 15px;
  color: #eeee9f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.margin-10 {
  margin: 10px;
}

.userCard {
  padding: 10px;
  background-color: #eeee9f;
}

.f-wrap {
  flex-wrap: wrap;
}